body {
    padding-top: 80px; 
}

.navbar-white {
    background-color: rgb(255, 255, 255)
}

.navbar-brand img {
    height: 75px; 
    margin-right: 15px; 
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-in-out .5s;
}
.carousel-fade .carousel-item.active {
    opacity: 1;
}

.bg-custom{
    background-color: rgb(237, 237, 237);
    padding: 10px;
}


.carousel-inner img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

ul{
    margin: 50px;
}

h3{
    margin: 30px;
}

.card {
    height: 100%;
}
.card-img-top {
    height: 200px;
    object-fit: cover; 
}
.card-body {
    display: flex;
    flex-direction: column;
}

.cards_cont{
    height: 70vh;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#btnv{
    background-color: #8fac3d;
    border: none;
}

#btnv:hover{
    background-color: #a6c358;
    transition: background-color 0.3s ease
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.btn_sub{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
    /* Navbar */
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
    /* Carrossel */
    #carouselExampleFade .carousel-item img {
        height: 300px;
    }
    /* Conteúdo da Página */
    .container.mt-5.text-justify {
        padding: 0 15px;
    }
    /* Rodapé */
    .footer .container .row .col-md-6 {
        text-align: center;
    }
    .footer .container .row .col-md-6 p {
        margin-bottom: 5px;
    }
    /* Cards */
    .cards_cont .container .row .col-md-3 {
        margin-bottom: 20px;
    }
    /* Formulário de Contato */
    .forms .container .row.justify-content-center .col-md-6 {
        padding: 0 15px;
    }

    
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 991px) {
    /* Navbar */
    .navbar-nav .nav-item {
        margin: 0 10px;
    }
    /* Carrossel */
    #carouselExampleFade .carousel-item img {
        height: 400px;
    }
    /* Cards */
    .cards_cont .container .row .col-md-3 {
        margin-bottom: 30px;
    }

    .card-contact-button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

/* Estilos para resoluções 4K */
@media (min-width: 2560px) {
    /* Navbar */
    .navbar .container {
        max-width: 1500px;
    }
    /* Carrossel */
    #carouselExampleFade .carousel-item img {
        height: 600px;
    }
    /* Conteúdo da Página */
    .container.mt-5.text-justify {
        max-width: 1500px;
    }
    /* Rodapé */
    .footer .container .row .col-md-6 {
        max-width: 1500px;
    }
    /* Cards */
    .cards_cont .container .row .col-md-3 {
        max-width: 400px;
    }
    /* Formulário de Contato */
    .forms .container .row.justify-content-center .col-md-6 {
        max-width: 600px;
    }

    body {
        font-size: 24px;
    }
    
    /* Aumentar o espaçamento entre as linhas */
    p, .lead, .card-text {
        line-height: 1.6;
    }
}