body {
    padding-top: 80px; 
}

.navbar-white {
    background-color: rgb(255, 255, 255)
}

.navbar-brand img {
    height: 75px; 
    margin-right: 15px; 
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-in-out .5s;
}
.carousel-fade .carousel-item.active {
    opacity: 1;
}

.bg-custom{
    background-color: rgb(231, 226, 219);
    padding: 10px;
}

#carouselExampleFade {
    height: 100vh;
}

.carousel-inner img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

.carousel-inner {
    margin-left: -15px;
    margin-right: -15px;
}

.carousel-item img {
    margin-left: auto;
    margin-right: auto;
}