body {
    padding-top: 80px; 
}

.navbar-white {
    background-color: rgb(255, 255, 255)
}

.navbar-brand img {
    height: 75px; 
    margin-right: 15px; 
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-in-out .5s;
}
.carousel-fade .carousel-item.active {
    opacity: 1;
}

