{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
<!-- Conteúdo da Página Contato -->
<div class="contato">
    <div class="cards_cont">
        <div class="container mt-5">
            <h1 class="text-center mb-4">Entre em Contato</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='img/casamento_4.jpg') }}" class="card-img-top" alt="Casamento">
                        <div class="card-body">
                            <h5 class="card-title">Casamento</h5>
                            <p class="card-text">Clique aqui para entrar em contato e saber mais sobre nossos serviços para casamentos.</p>
                            <a href="/forms" class="btn btn-primary" id="btnv">Contatar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='img/festa15.jpg') }}" class="card-img-top" alt="Festa de 15 Anos">
                        <div class="card-body">
                            <h5 class="card-title">Festa de 15 Anos</h5>
                            <p class="card-text">Clique aqui para entrar em contato e saber mais sobre nossos serviços para festas.</p>
                            <a href="/forms" class="btn btn-primary" id="btnv">Contatar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='img/evento_3.jpeg') }}" class="card-img-top" alt="Evento Corporativo">
                        <div class="card-body">
                            <h5 class="card-title">Evento Corporativo</h5>
                            <p class="card-text">Clique aqui para entrar em contato e saber mais sobre nossos serviços para eventos.</p>
                            <a href="/forms" class="btn btn-primary" id="btnv">Contatar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='img/formatura.jpg') }}" class="card-img-top" alt="Formatura">
                        <div class="card-body">
                            <h5 class="card-title">Formatura</h5>
                            <p class="card-text">Clique aqui para entrar em contato e saber mais sobre nossos serviços para formaturas.</p>
                            <a href="/forms" class="btn btn-primary" id="btnv">Contatar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}